* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.wrapper {
    background-image: url("../images/woxroglobe.png");
    background-repeat: no-repeat;
}
.sticky {
    position: fixed;
    background-color: #161a1e;;
    top: 0;
    width: 100%;
    max-width: 1215px;
    z-index: 2;
}